.page-content {
    max-width: 90%; /* Set to 90% of the viewport width */
    margin: 0 auto; /* Center content horizontally */
    padding: 1rem; /* Add some padding around the content */
}

article {
    max-width: 90%;
    margin: 0 auto;
}

